.workflow-component-title {
    background-color: #fafafa;
    padding: 10px 15px;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}