* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: OpenSans;
}

#root{
    height: 100%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #faf8f5 !important;
    height: 100%;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.app {
    position: relative;
    height: 100%;
}

.app-boundary {
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

.page-title {
    font-weight: bold;
    color: #0099cc;
    font-size: 14px;
    margin: 20px 0;
}